{{ (onepasswordDetailsFields "p4i36h4irhpmcp5zieohzjolm4" "" "team-godzilla.1password.com").notesPlain.value }}
{{ (onepasswordDetailsFields "ltcznbopm6ptgpc5q5s62cnv6u" "" "my.1password.com").notesPlain.value }}
