alias hh=hstr
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
alias kc=kubectl
alias win=windsurf
alias c=code
alias cu=cursor
alias cc="ccr code"
alias ccui="ccr ui"
alias tf=terraform
# alias ssh="ssh.exe"
# alias ssh-add="ssh-add.exe"
alias ls='ls --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias lla='ls -la'
alias llr='ls -laR'