#!/bin/bash


echo "=============================================="
echo "   INSTALLING VSCODE PACKAGES"
echo "=============================================="
echo ""
{{ range .packages.vscode.extensions -}}
echo "--- Installing: {{ . }} ---"
code --install-extension {{ . | quote }}
{{ end -}}



echo "=============================================="
echo "   INSTALLING CURSOR PACKAGES"
echo "=============================================="
echo ""
{{ range .packages.cursor.extensions -}}
echo "--- Installing: {{ . }} ---"
cursor --install-extension {{ . | quote }}
{{ end -}}

