#!/bin/bash

echo "=============================================="
echo "   CHEZMOI PACKAGE INSTALLATION"
echo "=============================================="
echo ""




{{ if eq .chezmoi.os "darwin" -}}
echo "=============================================="
echo "   INSTALLING MACOS PACKAGES"
echo "=============================================="
echo ""

{{ end -}}




{{ if eq .chezmoi.osRelease.id "arch" -}}
echo "=============================================="
echo "   INSTALLING ARCH LINUX PACKAGES"
echo "=============================================="
echo ""
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
sudo pacman -S --needed base-devel

NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
cd $HOME/.local/cache/paru
makepkg -si
cd $HOME/.local/cache/wsl-windows-hello
./release/install.sh
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.2/install.sh | bash

{{ end -}}


{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
echo "=============================================="
echo "   INSTALLING UBUNTU PACKAGES"
echo "=============================================="
echo ""
{{ end -}}

echo "=============================================="
echo "   INSTALLING VSCODE PACKAGES"
echo "=============================================="
echo ""
{{ range .packages.vscode.extensions -}}
echo "--- Installing: {{ . }} ---"
code --install-extension {{ . | quote }}
{{ end -}}


