export OPENROUTER_API_KEY={{  (onepasswordDetailsFields "inkae7c4v5ngblin4xiagckgga" "" "team-godzilla.1password.com").password.value }}
export MCP_METAMCP_API_KEY{{ (onepasswordDetailsFields "r3eyoxklsisbkyl7hnn2c24kli" "" "team-godzilla.1password.com").credential.value }}
export MCP_REF_API_KEY={{  (onepasswordDetailsFields "xvgsgpabl2ljysbqb6gdygh5xu" "" "team-godzilla.1password.com").password.value }}
export GH_TOKEN={{ (onepasswordDetailsFields "rqgi3nif4c45xnuawtlo56qwbe" "" "team-godzilla.1password.com").password.value }}
export GH_TOKEN_PERSONAL={{ (onepasswordDetailsFields "f6dbgzxikedvbrsaua7p47d4f4" "" "my.1password.com").password.value }}
export SHORTCUT_API_TOKEN={{ (onepasswordDetailsFields "fcjbcgphy3znti73xiveeyzfzm" "" "team-godzilla.1password.com").credential.value }}
