alias hh=hstr
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
alias ch=chezmoi
alias chyolo="chezmoi apply --force"
alias kc=kubectl
alias kctx="kc config get-contexts"
alias kns="kc config set-context --current --namespace"
alias kx="kc exec -it"
alias kcu="kc config use-context"
alias win=windsurf
alias c=code
alias cu=cursor
alias cua="cursor-agent"
alias cc="ccr code"
alias ccui="ccr ui"
alias tf=terraform
# alias ssh="ssh.exe"
# alias ssh-add="ssh-add.exe"
alias ls='ls --color=auto'
alias ll='ls -al'
alias la='ls -A'
alias lla='ls -la'
alias llr='ls -laR'
alias uvv="uv venv --clear && source .venv/bin/activate  && uv sync --all-extras"
alias tmuxsource="tmux source-file ~/.tmux.conf"
alias gsmup="git submodule update --init --recursive -j8"
alias cure="cursor --reuse-window"
alias ya="EDITOR=nano yazi"
alias wtpa="wtp add -b"
alias m=micro
alias gcr="git checkout release"
alias mcpinspect="HOST=0.0.0.0 npx @modelcontextprotocol/inspector"
alias nano=micro
alias awsdev="aws-mfa --assume-role "
alias oc="opencode"
