alias hh=hstr
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
alias ch=chezmoi
alias chyolo="chezmoi apply --force"
alias ccmcpref="claude mcp add --transport http ref 'https://api.ref.tools/mcp?apiKey=ref-6002766296ee463775b2'"
alias kc=kubectl
alias kctx="kc config get-contexts"
alias kns="kc config set-context --current --namespace"
alias kx="kc exec -it"
alias kcu="kc config use-context"
alias win=windsurf
alias c=code
alias cu=cursor
alias cc="ccr code"
alias ccui="ccr ui"
alias tf=terraform
# alias ssh="ssh.exe"
# alias ssh-add="ssh-add.exe"
alias ls='ls --color=auto'
alias ll='ls -al'
alias la='ls -A'
alias lla='ls -la'
alias llr='ls -laR'
alias uvv="uv venv --clear && source .venv/bin/activate  && uv sync --all-extras"