# created: 2025-09-14T23:29:43+01:00
# public key: age1rlq887frsuue6cuwy0t2g8eykejtznjwzsjjh4394pwwqthqevds37m279
{{ (onepasswordDetailsFields "daa36xpyy2we72mat5hpz6m25e" "" "youness@elabbassi.org").password.value }}
