{
    "$schema": "https://opencode.ai/config.json",
    // Theme configuration
    "theme": "opencode",
    "provider": {
        "openrouter": {
            "models": {
                "anthropic/claude-haiku-4.5": {},
                "minimax/minimax-m2:free": {},
                "google/gemini-2.5-flash-lite-preview-09-2025": {}
            }
        },
        "lmstudio": {
            "npm": "@ai-sdk/openai-compatible",
            "name": "LM Studio (local)",
            "options": {
                "baseURL": "http://127.0.0.1:1234/v1"
            },
            "models": {
                "qwen/qwen3-4b-2507": {
                    "name": "Qwen 3.4b (local)"
                }
            }
        }
    },
   	"mcp": {
   		"ref": {
   		  "type": "remote",
   		  "url": "https://api.ref.tools/mcp",
   		  "headers": {
   		    "x-ref-api-key": "{env:MCP_REF_API_KEY}"
   		  },
   		  "enabled": false
   		},
   	  "playwright": {
         "type": "local",
         "command": [
           "npx",
           "@playwright/mcp@latest"
         ],
         "enabled": false
       },
   	  "postgres": {
         "type": "local",
         "command": [
           "uv",
           "run",
           "postgres-mcp"
         ],
         "environment": {
           "DATABASE_URI": "postgres://postgres:postgres@localhost:5432/postgres"
         },
         "enabled": false
       },
    	  "serena": {
          "type": "local",
          "command": [
            "uvx",
            "--from",
            "git+https://github.com/oraios/serena",
            "serena",
            "start-mcp-server"
          ],
          "enabled": false
        },
    	  "jupyter": {
           "type": "local",
           "command": [
             "uvx",
             "jupyter-mcp-server@latest"
           ],
           "environment": {
             "JUPYTER_URL": "http://localhost:8888",
             "JUPYTER_TOKEN": "MY_TOKEN",
             "ALLOW_IMG_OUTPUT": "true"
           },
           "enabled": false
         },
         "github-pro": {
           "type": "remote",
           "url": "https://api.githubcopilot.com/mcp",
           "headers": {
             "Authorization": "Bearer {env:GH_TOKEN}"
           },
           "enabled": false
         },
         "github-perso": {
           "type": "remote",
           "url": "https://api.githubcopilot.com/mcp",
           "headers": {
             "Authorization": "Bearer {env:GH_TOKEN_PERSONAL}"
           },
           "enabled": false
         }
       },
    "agent": {
        "build": {
            "mode": "primary",
            "description": "Full development work with all tools enabled"
        },
        "plan": {
            "mode": "primary",
            "description": "Analysis and planning without making changes",
            "permission": {
                "edit": "ask",
                "bash": "ask"
            }
        },
        "debug": {
            "mode": "primary",
            "description": "General investigation and troubleshooting with bash + read tools"
        },
        "review": {
            "mode": "subagent",
            "description": "Code review with read-only access",
            "tools": {
                "write": false,
                "edit": false
            }
        },
        "docs": {
            "mode": "subagent",
            "description": "Technical writing and documentation",
            "tools": {
                "bash": false
            }
        },
        "security": {
            "mode": "subagent",
            "description": "Security audits and vulnerability identification",
            "tools": {
                "write": false,
                "edit": false
            }
        },
        "test": {
            "mode": "subagent",
            "description": "Test creation and test suite management"
        },
        "fast": {
            "mode": "primary",
            "model": "groq/openai/gpt-oss-120b",
            "description": "General but fast agent for very basic things."
        },
        "refactor": {
            "mode": "subagent",
            "description": "Code optimization and restructuring"
        },
        "ask": {
            "mode": "primary",
            "description": "Details/inquiry like debug (bash + read tools)"
        },
        "compaction": {
            "mode": "primary",
            "description": "Code compaction analysis (no tools)",
            "model": "openrouter/google/gemini-2.5-flash-lite-preview-09-2025",
            "tools": {
                "bash": false,
                "read": false,
                "write": false,
                "edit": false,
                "glob": false,
                "grep": false,
                "list": false
            }
        },
        "TestRunner": {
            "mode": "subagent",
            "description": "Run tests and return results",
            "model": "groq/openai/gpt-oss-120b"
        },
        "TestCaseWriter": {
            "mode": "subagent",
            "description": "Write test cases",
            "model": "openrouter/google/gemini-2.5-flash-lite-preview-09-2025"
        }
    },
    "autoupdate": true
}
