{
    "python.analysis.typeCheckingMode": "basic",
    "python.defaultInterpreterPath": "/home/linuxbrew/.linuxbrew/bin/python3.13",
    "git.autoRepositoryDetection": "subFolders",
    "git.openRepositoryInParentFolders": "never",
    "git.repositoryScanMaxDepth": -1,
    "scm.defaultViewMode": "tree",
    "git.autofetch": true,
    "git.defaultCloneDirectory": ""
}